body{
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	text-align: center;
	max-width : 900px;
	margin: 20px auto;
}

.container-top{
	height : 400px;
	margin-top: 20px
}

.title, .title-head{
	margin:0px
}

.container-input{
	display: flex;
	justify-content:space-evenly
}

.input{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:80px;
	justify-content: space-evenly;
	height:100px;
	border-style: solid;
	border-width:2px;
	border-color:black;
	background-color:whitesmoke;
	border-radius:5px;

}

.input-img{
	width:60px;
	height:60px;
	border-radius:5px;
	border-style:solid;

}

.input-para{
	margin: 0px
}
